{% extends 'base.html' %}
{% load static %}
{% block title %}Learning{% endblock %}
{% block content %}
    <div class="gobutton">
<a href="{% url 'organizer:new_subject' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Subject</a>
<a href="{% url 'organizer:new_goal' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Goal</a>
    </div>
<div class="games">
            <ul class="list-group goals">
               {% for goal in goals %}
                   {% if user == goal.owner %}
                        <a href="{% url 'organizer:learning_update' goal.id %}">
                       <li class="list-group-item">

                            {{ goal }}
                           <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ goal.progress }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{ goal.progress }}%
                            </div>
                            </div>
                           <p>Left per day: {{ goal.left_per_day }}</p>
                        </li>
                   {% endif %}
               {% endfor %}
            </ul>
</div>

{% endblock %}