<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}"/>


    <title>{% block title %}My Page{% endblock %}</title>
</head>
<body>
    <main>
        {% if user.is_authenticated or request.path == '/accounts/login/'%}
            {% if request.path != '/accounts/login/' %}
                <nav class="nav nav-pills nav-fill menu">
                    <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'organizer:home' %}">Home</a>
                    <a class="nav-item nav-link {% if request.path == '/tasks/' %}active{% endif %}" href="{% url 'organizer:tasks' %}">Tasks&Homework</a>
                    <a class="nav-item nav-link {% if request.path == '/go/' %}active{% endif %}" href="{% url 'organizer:go' %}">GO Game</a>
                    <a class="nav-item nav-link {% if request.path == '/trips/' %}active{% endif %}" href="{% url 'organizer:trips' %}">Trips</a>
                    <a class="nav-item nav-link {% if request.path == '/learning/' %}active{% endif %}" href="{% url 'organizer:learning' %}">Learning</a>
                </nav>
                <div id="user_panel" style="position: fixed; width: 18rem;" class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hello {{ user.first_name }}</h5>
                        <a href="/" class="btn btn-primary">Homepage</a>
                        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                        {% if user.is_staff %}
                            <a href="/admin" class="btn btn-warning">AdminPage</a>
                        {% endif %}
                        {% if Iplayer %}
                            <p><h4>Game of GO</h4></p>
                                <p>Nick: {{ Iplayer.nick }}</p>
                                <p>Ranking: {{ Iplayer.ranking }}</p>
                                <p>Wins: {{ Iplayer.wins }}</p>
                                <p>Losses: {{ Iplayer.losses }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        {% else %}
            You don't have access to this page please <a href={% url 'login' %}>Log in</a>
        {% endif %}

    </main>
</body>
</html>