{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

    <nav class="nav nav-pills nav-fill menu">
      <a class="nav-item nav-link active" href="{% url 'organizer:home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'organizer:tasks' %}">Tasks&Homework</a>
      <a class="nav-item nav-link" href="{% url 'organizer:planner' %}">Planner</a>
    </nav>

    <div id='card' class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">This page is being build. Here will be the summary of your content.</p>
      <hr class="my-4">
      <p>New functionality will be deployed as soon as possible</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}