{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <div id="task_add">
    <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <ul class="list-group tasks">
        {% for task in tasks %}
            <li class="list-group-item">{{ task.title }}, {% if task.is_past_due %}<mark>DUE: {{ task.due }}</mark>{% else %}DUE: {{ task.due }}{% endif %}</li>
        {% endfor %}
    </ul>



{% endblock %}