body {
    color: #2d7f8b;
    background-color: #dbe79e;
}

#login {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



#user_panel {
    width: 18rem;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 2%;
    right: 2%;
    border-radius: 15px;
}

.menu {
    width: 67%;
    position: absolute;
    top: 15%;
    left: 3%;
    border-radius: 20px;
    background-color: white;
}

#card {
    position:absolute;
    width: 60%;
    top: 30%;
    left: 6%;
    border-radius: 15px;
}

.my_form {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tasks {
    width: 20%;
    position: absolute;
    left: 15%;
    top: 40%;
}
mark {
    background-color: white;
    color: #9e0505;
}

.games {
    width: 20%;
    position: absolute;
    left: 10%;
    top: 30%;
}
.gobutton {
    position: relative;
    left: 40%;
    top: 30%;
}

.won {
    background-color: #00cc00;
}

.lost {
    background-color: #9e0505;
}

.game_detail {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 18rem;
}

.delete {
    position: absolute;
    top: 40%;
    left: 30%;
}

.ranking {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 18rem;
}

#player {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 18rem;
}
.back {
    position: absolute;
    top: 40%;
    left: 30%;
}
.edit {
    position: absolute;
    top: 45%;
    left: 30%;
}

.edit_trip {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 40%;
    width: 15%;
    flex-wrap: wrap;

}